<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.kc.coffer">

    <dist:module dist:instant="true" />

    <application
        android:name=".CofferApplication"
        android:allowBackup="true"
        android:icon="@drawable/yu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/zy_network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.KC">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".androidDemo.AndroidMainActivity"/>
        <activity android:name=".androidDemo.AnimDemoMainActivity"/>
        <activity android:name=".androidDemo.CustomViewMainActivity"/>
        <activity android:name=".androidDemo.animdemo.PropertyAnimActivity"/>
        <activity android:name=".androidDemo.animdemo.FrameAnimActivity"/>
        <activity android:name=".androidDemo.animdemo.TweenAnimActivity"/>
        <activity android:name=".androidDemo.animdemo.AnimTestActivity"/>
        <activity android:name=".androidDemo.customview.ArrangeViewActivity"/>
        <activity android:name=".androidDemo.customview.BannerActivity"/>
        <activity android:name=".androidDemo.customview.DampViewActivity"/>
        <activity android:name=".androidDemo.customview.DrawActivity"/>
        <activity android:name=".androidDemo.customview.DrawViewActivity"/>
        <activity android:name=".androidDemo.customview.DrawViewActivity2"/>
        <activity android:name=".androidDemo.customview.FlexibleViewActivity"/>
        <activity android:name=".androidDemo.customview.GalleryActivity"/>
        <activity android:name=".androidDemo.customview.ListViewActivity"/>
        <activity android:name=".androidDemo.customview.MutiTypeActivity"/>
        <activity android:name=".androidDemo.customview.ScrollActivity2"/>
        <activity android:name=".androidDemo.customview.ScrollLoginActivity"/>
        <activity android:name=".androidDemo.customview.ScrollContainerActivity"/>

    </application>

</manifest>